/*
 * David Luong
 * ISTE-252
 * Project 3: Creating a Hybrid Mobile App
 *
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
  background: #d3ebff; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-repeating-radial-gradient(white, #d3ebff 10%, #2f7cbc 15%);
  /* For Opera 11.6 to 12.0 */
  background: -o-repeating-radial-gradient(white, #d3ebff 10%, #2f7cbc 15%);
  /* For Firefox 3.6 to 15 */
  background: -moz-repeating-radial-gradient(white, #d3ebff 10%, #2f7cbc 15%);
  /* Standard syntax */
  background: repeating-radial-gradient(white, #d3ebff10%, #2f7cbc 15%);

  background-attachment:fixed;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:12px;
  height:100%;
  margin:0px;
  padding: 0px;
  width:100%;
}

h1 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size:24px;
  font-weight:normal;
  margin:0px;
  padding:0px;
  text-align:center;
  background-color: #000080;
  color: white;
}

/** Styles for Weather Map */
#map-canvas {
	width: 85%;
	height: 70%;
  margin: 120px auto 0 auto;
  box-shadow: 0px 0px 20px 4px #ff0;
  border: 2px solid #444;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  opacity: 0.9;
}
#floating-panel{
	position: absolute;
  top: 200px;
  right: 11rem;
	z-index: 5;
	background-color: #b3b3b3;
	padding: 0.5em 0.5em;
	border: 3px solid #ff0;
}
#floating-panel select{
	padding 0;
	margin: 0;
}

#currWeatherBar{
  width: 85%;
  margin: auto;
  font-size: 16px;
  text-align: center;
}

.dash{
  background-color: #d3d3d3;
  width: 100%;
  border: 2px solid #444;
  box-shadow: 0px 4px 20px 4px #ff0;
  cursor: pointer;
}

.currWeatherLabel{
	text-decoration: underline;
}

.dashInfo{
  font-weight: bold;
  color: #37ba54;
}

/* Portrait layout (default) */
.app {
  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  position:absolute;             /* position in the center of the screen */
  left:50%;
  top:50%;
  height:50px;                   /* text area height */
  width:225px;                   /* text area width */
  text-align:center;
  padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
  margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with max-width) */
@media screen and (max-width:799px) {
  .dTime{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }

}

@media screen and (min-aspect-ratio: 1/1) and (min-width:800px) {
  .dash{
    background-color: #d3d3d3;
    width: 33.33333%;
    float: left;
    border: 2px solid #444;
    box-shadow: 0px 4px 20px 4px #ff0;
  }
  .dDescription{
    border-bottom-left-radius: 20px;
  }
  .dTime{
    border-bottom-right-radius: 20px;
  }
}

h1 {
  font-size:24px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:20px 0px;
  text-align:center;
  text-transform:uppercase;
  background-color: #000080;
  color: white;
  opacity: 0.8;
  z-index: 1000;
}

.dLocation{
  background-color: #2c3e50;
}

.dTime{
  background-color: #777;
}

.dLocation, .dTime{
  color: #fff;
}

.dash{
  padding-bottom: 15px;
}

.dash:hover{
  filter: brightness(1.2);
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}
